<ion-view view-title="Flora">
    <ion-content>
        <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" ng-model="search" placeholder="Pesquisar" ng-model-options="{ allowInvalid: true, debounce: 500 }" ng-change="flora.search(search)">
            </label>
            <ec-filter filter="flora.filter" refresh="flora.getData()" should-refresh="false"></ec-filter>
        </div>

        <div class="list">
            <a class="item item-avatar" ng-click="navigateTo(flora)" ng-repeat="flora in flora.floras">
                <img ng-src="{{flora.picture}} ">
                <h2>{{flora.nome_pop}}</h2>
                <p>{{flora.info}}</p>
            </a>

            <ion-infinite-scroll ng-if="!flora.noMoreItemsAvailable" on-infinite="flora.search(search, true)" distance="5px"></ion-infinite-scroll>
        </div>
    </ion-content>
</ion-view>