
.entities-item {
	color: white;
	margin: 1px;
	height: 90%;
	width: 100%;

	text-align: center;
}

.slider {
	color: white !important;
	text-align: center;
	height: 100%;
}


.entities-item > div > div {
	padding-left: 1em;
    padding-right: 1em;
	color: white;
	margin: 0 auto;
	padding-bottom: 6em;
}


.entities-item > div > div > h2, p {
	color: white;
}

.entities-item > div > p {
	padding: 1em;
}


.slider-pager-page {
	    font-size: .5em;
	color: #fff !important;
}


.entity.card {
	border-radius: 14px;
	padding-top: 1px;
	padding-bottom: 1px;
	box-shadow: 0 0 22px 2px rgba(0, 81, 89, 0.1);
}