
.entities-item {
	color: white;
	margin: 1px;
	height: 90%;
	width: 100%;


	text-align: center;

}

.slider {
	color: white !important;
	text-align: center;
	height: 100%;
}


.entities-head {
	padding-top: 1em;
}
.entities-item > div > div {
	color: white;
	margin: 0 auto;
	padding-top: 4em;
}


.entities-item > div > div > h2, p {
	color: white;
	margin: 1em;
}

.entities-item > div > p {
	padding: 1em;
}


.slider-pager-page {
	    font-size: .5em;
	color: #fff !important;
}