

.login-bg--image {
    background-image: url(../img/backgrounds/login/001.jpg);
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: center;
    background-size: cover;
}

img.center {
    display: block;
    margin: 0 auto;
}

.loginbox {
    height: 80%;
}

.box-divide {
    margin-bottom: 5em;
}
