<!--   <ion-nav-bar class="bar-light" align-title="center">
  	<ion-nav-back-button class="button-clear">
  		<i class="ion-arrow-left-c"></i> Back
  	</ion-nav-back-button>
  </ion-nav-bar> -->

  <ion-tabs class="tabs-icon-top tabs-light">


  	<!-- Dashboard Tab -->
  	<ion-tab title="Timeline" icon="icon ion-clock" href="#/protected/timeline">
  		<ion-nav-view name="tab-timeline"></ion-nav-view>
  	</ion-tab>


  	<!-- Friends Tab -->
  	<ion-tab title="Mapa" icon="icon ion-map" href="#/protected/map">
  		<ion-nav-view name="tab-map"></ion-nav-view>
  	</ion-tab>


  	<!-- Account Tab -->
  	<ion-tab title="Geodiversidades" icon="icon ion-earth" href="#/protected/entities">
  		<ion-nav-view name="tab-entities"></ion-nav-view>
  	</ion-tab>

  	<!-- Account Tab -->
  	<ion-tab title="Você" icon="icon ion-heart" href="#/protected/user">
  		<ion-nav-view name="tab-user"></ion-nav-view>
  	</ion-tab>


  </ion-tabs>