  <ion-nav-bar class="bar-light" align-title="center">
  	<ion-nav-back-button class="button-clear">
  		<i class="ion-arrow-left-c"></i> Back
  	</ion-nav-back-button>
  </ion-nav-bar>

  <ion-tabs class="tabs-icon-top">


  	<!-- Dashboard Tab -->
  	<ion-tab title="Timeline" icon="icon ion-home" href="#/protected/timeline">
  		<ion-nav-view name="tab-timeline"></ion-nav-view>
  	</ion-tab>


  	<!-- Friends Tab -->
  	<ion-tab title="Mapa" icon="icon ion-heart" href="#/protected/friends">
  		<ion-nav-view name="tab-friends"></ion-nav-view>
  	</ion-tab>


  	<!-- Account Tab -->
  	<ion-tab title="Geodiversidades" icon="icon ion-gear-b" href="#/protected/account">
  		<ion-nav-view name="tab-account"></ion-nav-view>
  	</ion-tab>

  	<!-- Account Tab -->
  	<ion-tab title="Você" icon="icon ion-heart" href="#/protected/account">
  		<ion-nav-view name="tab-account"></ion-nav-view>
  	</ion-tab>


  </ion-tabs>