<ion-view view-title="Fauna">
    <ion-content>
        <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" ng-model="search" placeholder="Pesquisar" ng-model-options="{ allowInvalid: true, debounce: 200 }">
            </label>
        </div>

        <div class="list">
            <a ng-hide="fauna.hide" class="item item-avatar" ui-sref="protected.details-fauna({index: $index})" ng-repeat="fauna in fauna.faunas | filter:search">
                <img  ng-src="{{fauna.picture}} ">
                <h2>{{fauna.ordem}}</h2>
                <p>{{fauna.info}}</p>
            </a>
        </div>
    </ion-content>
</ion-view>