<ion-view view-title="Geodiversidades">
	<ion-content class="bg-gradient">

		<ion-slide-box>
			<ion-slide>
				<div class="entities-item">
					<div class="flex-container flex-col-dir">
						<div class="entities-head">
							<span class="ec-icon i-fauna animated slideInDown"></span>
						</div>

						<div class="entities-body">
							<h2>
								Fauna
							</h2>
							<p>Lorem ipsum dolor gravita dolor gravita, dolor gravita dolor gravita </p>
						</div>

						<div class="entities-footer">
							<button ng-click="entities.go('fauna')" class="button button-energized btn-rounded normal-size">
								{{entities.translate.buttons.access}}
							</button>

						</div>
						
					</div>
					
				</div>
			</ion-slide>

			<ion-slide >
				<div class="entities-item">
					<div class="flex-container flex-col-dir">
						<div class="entities-head">
							<span class="ec-icon i-flora animated slideInDown"></span>
						</div>

						<div class="entities-body">
							<h2>
								Flora
							</h2>
							<p>Lorem ipsum dolor gravita dolor gravita, dolor gravita dolor gravita </p>
						</div>

						<div class="entities-footer">
							<button ng-click="entities.go('fosseis')" class="button button-positive btn-rounded normal-size">
								{{entities.translate.buttons.access}}
							</button>
						</div>
					</div>
				</div>
			</ion-slide>

			<ion-slide>
				<div class="entities-item">
					<div class="flex-container flex-col-dir">
						<div class="entities-head">
							<span class="ec-icon i-fossil animated slideInDown"></span>
						</div>

						<div class="entities-body">
							<h2>
								Fosseis
							</h2>
							<p>Lorem ipsum dolor gravita dolor gravita, dolor gravita dolor gravita </p>
						</div>

						<div class="entities-footer">
							<button ng-click="entities.go('fosseis')" class="button button-royal btn-rounded normal-size">
								{{entities.translate.buttons.access}}
							</button>
						</div>
					</div>
				</div>
			</ion-slide>

			<ion-slide>
				<div class="entities-item">
					<div class="flex-container flex-col-dir">
						<div class="entities-head">
							<span class="ec-icon i-history animated slideInDown"></span>
						</div>

						<div class="entities-body">
							<h2>
								Histórias
							</h2>
							<p>Lorem ipsum dolor gravita dolor gravita, dolor gravita dolor gravita </p>
						</div>

						<div class="entities-footer">
							<button ng-click="entities.go('fosseis')" class="button button-assertive btn-rounded normal-size">
								{{entities.translate.buttons.access}}
							</button>
						</div>
					</div>
				</div>
			</ion-slide>

		</ion-slide-box>

	</ion-content>
</ion-view>