<ion-view view-title="Geodiversidades">
	<ion-content class="bg-image">

		<ion-slide-box>
			<ion-slide>
				<div class="entities-item">
					<div class="entities-head">
						<span class="ec-icon i-fauna animated slideInDown"></span>
					</div>

					<div class="entities-body">
						<h2>
							Fauna
						</h2>
						<p>Lorem ipsum dolor gravita dolor gravita, dolor gravita dolor gravita </p>
					</div>

					<div class="entities-footer">
						<button ng-click="avatar.setAvatar()" class="button button-energized btn-rounded normal-size">
							Acessar
						</button>

					</div>
				</div>
			</ion-slide>

			<ion-slide >
				<div class="entities-item">
					<div class="entities-head">
						<span class="ec-icon i-flora animated slideInDown"></span>
					</div>

					<div class="entities-body">
						<h2>
							Flora
						</h2>
						<p>Lorem ipsum dolor gravita dolor gravita, dolor gravita dolor gravita </p>
					</div>

					<div class="entities-footer">
						<button ng-click="avatar.setAvatar()" class="button button-positive btn-rounded normal-size">
							Acessar
						</button>

					</div>
				</div>
			</ion-slide>

			<ion-slide>
				<div class="entities-head">
					<span class="ec-icon i-fauna"></span>
				</div>
			</ion-slide>

			<ion-slide>
				<div class="entities-head">
					<span class="ec-icon i-fauna"></span>
				</div>
			</ion-slide>

		</ion-slide-box>

	</ion-content>
</ion-view>