<ion-view>
    <ion-content>
        <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" ng-model="search" placeholder="Pesquisar" ng-model-options="{ allowInvalid: true, debounce: 200 }">
            </label>
        </div>

        <div class="list">
            <a class="item item-avatar" ui-sref="protected.details-historias({index: $index})" ng-repeat="historia in historias.historias | filter:search">
                <img ng-src="{{historia.picture}} ">
                <h2>{{historia.titulo}}</h2>
                <p>{{historia.info}}</p>
            </a>
        </div>
    </ion-content>
</ion-view>