<ion-view view-title="Histórias">
    <ion-content>
        <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" ng-model="search" placeholder="Pesquisar" ng-model-options="{ allowInvalid: true, debounce: 500 }" ng-change="historias.search(search)">
            </label>
            <ec-filter filter="historias.filter" refresh="historias.getData()" should-refresh="false"></ec-filter>
        </div>

        <div class="list">
            <a class="item item-avatar" ng-click="navigateTo(historia)" ng-repeat="historia in historias.historias">
                <img ng-src="{{historia.picture}} ">
                <h2>{{historia.titulo}}</h2>
                <p>{{historia.info}}</p>
            </a>
            <ion-infinite-scroll ng-if="!historias.noMoreItemsAvailable" on-infinite="historias.search(search, true)" distance="5px"></ion-infinite-scroll>

        </div>
    </ion-content>
</ion-view>