<ion-view>
  <ion-content class="bg-gradient">
    <ion-slide-box>

      <ion-slide>
        <div class="entities-item">
          <div class="flex-container flex-col-dir vh-100">
            <div class="entities-head">
                <img src="img/icones/logo/ecomapss.png" class="center" width="130" height="130" alt="">              
            </div>

            <div class="entities-body">
              <h2>
                Olá, Bem vindo ao Ecomapss.
              </h2>
              <p> Arraste para começar! </p>
            </div>
          </div>

        </div>
      </ion-slide>

      <ion-slide>
        <div class="entities-item">
          <div class="flex-container flex-col-dir vh-100">
            <div class="entities-head">
              <span class="ec-icon i-fauna animated slideInDown"></span>
            </div>

            <div class="entities-body">
              <h2>
                Fauna
              </h2>
              <p>Aqui no ecomapss você terá acesso a inúmeros fatos sobre a fauna da reserva ou parque que estiver visitando!</p>
            </div>
          </div>

        </div>
      </ion-slide>

      <ion-slide>
        <div class="entities-item">
          <div class="flex-container flex-col-dir vh-100">
            <div class="entities-head">
              <span class="ec-icon i-flora animated slideInDown"></span>
            </div>

            <div class="entities-body">
              <h2>
                Flora
              </h2>
              <p> Busque e encontre informações e curiosidades sobre a flora local. </p>
            </div>

          </div>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="entities-item">
          <div class="flex-container flex-col-dir vh-100">
            <div class="entities-head">
              <span class="ec-icon i-fossil animated slideInDown"></span>
            </div>

            <div class="entities-body">
              <h2>
                Fosseis
              </h2>
              <p>Há você quer conhecer sobre que animais viveram aqui, no app você terá bastante informação!</p>
            </div>
          </div>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="entities-item">
          <div class="flex-container flex-col-dir vh-100">
            <div class="entities-head">
              <span class="ec-icon i-history animated slideInDown"></span>
            </div>

            <div class="entities-body">
              <h2>
                Histórias
              </h2>
              <p> Caso tenha curiosade em saber historias locais, poderar encontrar aqui também!</p>
            </div>
          </div>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="flex-container flex-col-dir vh-100">
          <div class="row row box-divide">
            <div class="col col-center">
              <h4 class="white-font">Agora só precisamos do seu nome para identificarmos você dentro do app: </h4 class="white-font">
            </div>
          </div>

          <form ng-submit="welcome.doLogin()" name="userForm" ng-model="welcome.user" novalidate>
            <input name="username" type="text" ng-class="{'has-error': userForm.username.$invalid && userForm.$dirty}" class="input--rounded"
              ng-model="welcome.user.username" placeholder="{{welcome.translate.form.placeholders.name}}" required>
            <button ng-disabled="userForm.$invalid" class="button button-royal btn-rounded button-block">
              {{welcome.translate.form.buttons.signin}}
            </button>
          </form>

          <div ng-show="userForm.username.$invalid && userForm.$dirty" ng-class="{'animated slideInUp': userForm.username.$invalid && userForm.$dirty}"
            class="ec-message error">
            {{welcome.translate.form.errors.empty.username}}
          </div>
        </div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>