<ion-view view-title="Fosseis">
    <ion-content overflow-scroll="false" >
        <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" ng-model="search" placeholder="Pesquisar" ng-model-options="{ allowInvalid: true, debounce: 500 }" ng-change="fosseis.search(search)">
            </label>
            <ec-filter filter="fosseis.filter" refresh="fosseis.getData()" should-refresh="false"></ec-filter>
        </div>

        <div class="list">
            <a ng-hide="fossil.hide" class="item item-avatar" ng-click="navigateTo(fossil)" ng-repeat="fossil in fosseis.fosseis | filter:search">
                <img ng-src="{{fossil.picture}} ">
                <h2>{{fossil.titulo}}</h2>
                <p>{{fossil.info}}</p>
            </a>

            <ion-infinite-scroll ng-if="!fosseis.noMoreItemsAvailable" on-infinite="fosseis.search(search, true)" distance="5px"></ion-infinite-scroll>            
        </div>
    </ion-content>
</ion-view>