<ion-view hide-nav-bar="true">
	<div class="user-header animated fadeIn">
		<h1>
			{{vm.translate.header.title}}, {{vm.username}}
		</h1>
		<p class="text-dark">
			{{vm.translate.header.description}}
		</p>

		<script src="http://arquivos.weblibras.com.br/auto/wl-min.js"></script>
		<script>
			 var wl = new WebLibras({
					position: WebLibrasIconPosition.Content,
					iconRoot: "",
					compatibilityMode: true,
					translatedElement: ""
			 });

			 console.log(wl)
		</script>
		
	</div>
	
	<ion-content class="ec-timeline" on-swipe-left="vm.goForward()"  on-scroll="getScrollPosition()">
		

		<div ng-if="!vm.itemsIsFetched" class="flex-container loader-wrapper">
			<img src="vendor/icons/three-dots.svg" height="10" alt="" srcset="">
		</div>

		<ion-refresher on-refresh="vm.doRefresh()" pulling-text="Arraste para atualizar">

		</ion-refresher>


		<ul ng-if="vm.itemsIsFetched" class="cbp_tmtimeline animated fadeInUp">
			<li ng-repeat="history in vm.fetchedHistories track by $index" ng-click="vm.goInHistory(history)">
				<time class="cbp_tmtime" datetime="2013-04-10 18:30">
					<span>{{history.date | date:'dd/MM/yyyy'}}</span>
					<span>{{history.date | date:'HH:mm'}}</span>
				</time>
				<div class="cbp_tmicon ion-earth"></div>
				<div class="cbp_tmlabel">
					<h2>{{history.type}}</h2>
					<p>{{history.info}}</p>
				</div>
			</li>
		</ul>
	</ion-content>
</ion-view>


