<ion-view hide-nav-bar="true">
	<div class="user-header animated fadeIn">
		<h1>
			{{vm.translate.header.title}}, Matheus
		</h1>
		<p class="text-dark">
			{{vm.translate.header.description}}
		</p>
	</div>
	
	<ion-content class="ec-timeline" on-swipe-left="vm.goForward()">
		<div ng-if="!vm.itemsIsFetched" class="flex-container loader-wrapper">
			<img src="vendor/icons/three-dots.svg" height="10" alt="" srcset="">
		</div>

		<ion-refresher on-refresh="doRefresh()">

		</ion-refresher>


		<ul ng-if="vm.itemsIsFetched" class="cbp_tmtimeline animated fadeInUp">
			<li ng-repeat="history in vm.fetchedHistories track by $index">
				<time class="cbp_tmtime" datetime="2013-04-10 18:30">
					<span>{{history.date | date:'dd/MM/yyyy'}}</span>
					<span>{{history.date | date:'HH:mm'}}</span>
				</time>
				<div class="cbp_tmicon ion-earth"></div>
				<div class="cbp_tmlabel">
					<h2>{{}}</h2>
					<p>{{}}</p>
				</div>
			</li>
		</ul>
	</ion-content>
</ion-view>