<span ng-click="vm.openModal()" ng-class="vm.classFlag"></span>



<script id="language-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
      <h1 class="title">{{vm.translate.modal.title}}</h1>
      <button class="button button-clear button-primary" ng-click="vm.closeModal()">{{vm.translate.modal.cancel}}</button>
    </ion-header-bar>
    <ion-content class="padding">
      <div class="list">

        <div class="list">
          <a class="item item-flag" ng-click="vm.selectLang(lang.file)" ng-repeat="lang in vm.languages track by $index" href="#">
            <i ng-class="'flag-icon ' + lang.icon"></i>
            {{lang.name}}
          </a>
        </div>
      </div>
    </ion-content>
  </ion-modal-view>
</script>
