<ion-view>
    <ion-content>

        <img class="full-image" ng-src="{{details.historia.picture}}">

        <div class="list">
            <div class="item item-icon-left-top item-body" ng-if="details.historia.titulo">
                <i class="icon ion-compose calm"></i>
                {{details.historia.titulo}}
            </div>
            <div class="item item-icon-left-top item-body" ng-if="details.historia.localidade">
                <i class="icon ion-flag calm"></i>
                {{details.historia.localidade}}
            </div>
            <p class="item  item-body item-icon-left-top item-body-top item-body">
                <i class="icon ion-alert calm"></i>
                {{details.historia.info}}
            </p>
        </div>
    </ion-content>
</ion-view>