
.flex-container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;

  justify-content: center;
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}

.flex-col-dir {
  flex-direction: column;
}

.flex-row-dir {
  flex-direction: row;
}

ec-language {
  margin: 0 auto;
}


.bg-image {
  background: url(../img/backgrounds/main.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.v-center {
  margin: 0 auto;
}




