button.btn-primary {
    border-color: transparent;
    background-color: $primary;
    color: #fff;;
}
button.btn-secondary {
    border-color: transparent;
    background-color: $secondary;
    color: #fff;;
}


button.btn-rounded {
    border-radius: 5em;
}