@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto/Roboto-Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

* {
	font-family: 'Roboto', sans-serif;
}



.bg-primary {
	background-color: $royal;
}

.bg-secondary {
	background-color: $positive;
}




.bg-gradient {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#17abe7+0,2a48eb+100 */
background: #17abe7; /* Old browsers */
background: -moz-linear-gradient(top, #17abe7 0%, #2a48eb 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #17abe7 0%,#2a48eb 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #17abe7 0%,#2a48eb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#17abe7', endColorstr='#2a48eb',GradientType=0 ); /* IE6-9 */
}


