@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto/Roboto-Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

* {
	font-family: 'Roboto', sans-serif;
}



.bg-primary {
	background-color: $royal;
}

.bg-secondary {
	background-color: $positive;
}




.bg-gradient {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2a48eb+0,5069ed+100 */
background: #2a48eb; /* Old browsers */
background: -moz-linear-gradient(-45deg, #2a48eb 0%, #5069ed 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #2a48eb 0%,#5069ed 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #2a48eb 0%,#5069ed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a48eb', endColorstr='#5069ed',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}


