/* Empty. Add your own CSS if you like */
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

* {
  font-family: 'Roboto', sans-serif; }

input[type=text].input--rounded {
  padding: 1em;
  border-radius: 2em;
  width: 20em;
  height: 3.5em;
  margin: 1px; }

button.btn-primary {
  border-color: transparent;
  background-color: #4b7bec;
  color: #fff; }

button.btn-secondary {
  border-color: transparent;
  background-color: #20bf6b;
  color: #fff; }

button.btn-rounded {
  border-radius: 5em; }

.flex-container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  justify-content: center;
  align-items: center; }

.flex-col-dir {
  flex-direction: column; }

.login-bg--image {
  background-image: url(../img/backgrounds/login/001.jpg);
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: center;
  background-size: cover; }

.login-bg--fade {
  background: rgba(0, 0, 0, 0.5); }

img.center {
  display: block;
  margin: 0 auto; }

.loginbox {
  height: 80%; }

.box-divide {
  margin-bottom: 5em; }
